<div class="wrap">


<header class='top-page-header'>
  <div class='title-contents'>
    <%= link_to 'Sabusuku no Kanri', "#", class: "title-link" %>
  </div>
</header>

<div class='main-body'>
  
  <div class='left-body'>
    <div class='left-body-box'>
      <p class= 'body-title'>サブスクの管理、</p>
      <p class= 'body-title'>はじめよう。</p>
     <div class='main-image'>
      <%= image_tag "sumahofree.jpeg", class:"body-image" %>
     </div>
    </div>
  </div>

  <div class='light-body'>
    
    <ul class='body-lists'>
      <li class='list'><%= link_to '新規登録', "#", class: "body-link" %></li>
      <li class='list'><%= link_to 'ログイン', "#", class: "body-link" %></li>
    </ul>

  </div>

<!-- /.wrap --></div>
</div>