<head>
    <title><%= "登録完了 / Subscription"%></title>
</head>
<%= render "shared/header" %>

<div class ="complete-box">
  
  
    <h2>登録が完了！</h2>
    <p>サブスク管理を始めよう</p>
  
    <ul class='complete-lists'>
        <li class='conp-list'><%= link_to 'TOPページ', root_path, class: "comp-link" %></li>
        <li class='conp-list'><%= link_to 'サブスク登録', new_content_path, class: "comp-link" %></li>
    </ul>
  

 </div>
