@media (min-width: 1025px) {
.top-page-header {
  width: 100vw;
  display: flex;
}

.title-contents{
  margin:1vh 0 1vh 3vw;
  font-weight: bolder; 
}
.title-contents-image{
  height: 180px;
  width: 350px;
}

.header-user{
  margin-left:auto;
  padding: 5vh 5vw 0 0;
  display: flex;
  flex-direction: column; 
  justify-content:space-between;
  align-items: center;  

}

.user-title{
  display: flex;
}
.header-aisatu{
  color: #000;
  font-size: 30px;
}
.header-nickname{
  color: #000;
  font-size: 35px;
  margin-right: 1vw;
  cursor: pointer;
}
.header-mypege{
  display: none;
}
.header-nickname-m{
  color: #000;
  font-size: 30px;
  margin-right: 1vw;
}
}

@media  (min-width: 599px) and (max-width: 1024px) {
  .top-page-header {
    width: 100vw;
    display: flex;
  }
  
  .title-contents{
    margin:3vh 0 1vh 4vw;
    font-weight: bolder; 
  }
  .title-contents-image{
    height: 150px;
    width: 320px;
  }
  
  .header-user{
    margin-left:auto;
    padding: 5vh 5vw 0 0;
    display: flex;
    flex-direction: column; 
    justify-content:space-between;
    align-items: center; 
  }
  
  .user-title{
    display: flex;
  }
  .header-aisatu{
    color: #000;
    font-size: 25px;
  }
  .header-nickname{
    color: #000;
    font-size: 30px;
    margin-right: 1vw;
    cursor: pointer;
  }
  .header-mypege{
    display: none;
  }
  .header-nickname-m{
    color: #000;
    font-size: 20px;
    margin-right: 1vw;
  }
  
}

@media (max-width: 599px) {
  .top-page-header {
    width: 100vw;
    display: flex;
  }
  
  .title-contents{
    margin:3vh 0 1vh 4vw;
    font-weight: bolder; 
  }
  .title-contents-image{
    height: 80px;
    width: 190px;
  }
  .header-user{
    margin-left:auto;
    padding: 5vh 5vw 0 0;
    display: flex;
    flex-direction: column; 
    justify-content:space-between;
    align-items: center; 
  }
  
  .user-title{
    display: flex;
    
  }
  .header-aisatu{
    display: none;
  }
  .header-nickname{
    display: none;
  }
  .header-mypege{
    color: #000;
    font-size: 20px;
    margin-right: 3vw;
    cursor: pointer;
  }
  .header-nickname-m{
    color: #000;
    font-size: 12px;
    margin-right: 1vw;
  }
  
}