@media (min-width: 1025px) {
.top-page-header {
  width: 100vw;
  display: flex;
}

.title-contents{
  margin:1vh 0 1vh 3vw;
  font-weight: bolder; 
}
.title-contents-image{
  height: 16vh;
  width: 18vw;
}

.header-user{
  margin-left:auto;
  padding: 5vh 5vw 0 0;
}

.user-title{
  display: flex;
}
.header-aisatu{
  color: #000;
  font-size: 3vh;
}
.header-nickname{
  color: #000;
  font-size: 3vh;
  border-bottom:1px solid;
  margin-right: 1vw;
}
.header-nickname-m{
  color: #000;
  font-size: 3vh;
  margin-right: 1vw;
}
.user-menu{
  margin: 1vh;
  padding-left: 5vw;
}
.user-menu-li {
  color: #FFF;
  background-color: #000;
 font-size: 2vh;
 text-decoration:none; 
 padding: 1vh ;
 border-radius: 10px;
}

}

@media  (min-width: 599px) and (max-width: 1024px) {
  .top-page-header {
    width: 100vw;
    display: flex;
  }
  
  .title-contents{
    margin:3vh 0 1vh 4vw;
    font-weight: bolder; 
  }
  .title-contents-image{
    height: 12vh;
    width: 32vw;
  }
  
  .header-user{
    margin-left:auto;
    padding: 5vh 5vw 0 0;
  }
  
  .user-title{
    display: flex;
  }
  .header-aisatu{
    color: #000;
    font-size: 2vh;
  }
  .header-nickname{
    color: #000;
    font-size: 2vh;
    border-bottom:1px solid;
    margin-right: 1vw;
  }
  .header-nickname-m{
    color: #000;
    font-size: 2vh;
    margin-right: 1vw;
  }
  .user-menu{
    margin: 1vh;
    padding-left: 5vw;
  }
  .user-menu-li {
    color: #FFF;
    background-color: #000;
   font-size: 1vh;
   text-decoration:none; 
   padding: 1vh ;
   border-radius: 10px;
  }
}

@media (max-width: 599px) {
  .top-page-header {
    width: 100vw;
    display: flex;
  }
  
  .title-contents{
    margin:3vh 0 1vh 4vw;
    font-weight: bolder; 
  }
  .title-contents-image{
    height: 10vh;
    width: 45vw;
  }
  
  .header-user{
    margin-left:auto;
    padding: 5vh 5vw 0 0;
  }
  
  .user-title{
    display: flex;
  }
  .header-aisatu{
    color: #000;
    font-size: 4vw;
  }
  .header-nickname{
    color: #000;
    font-size: 4vw;
    border-bottom:1px solid;
    margin-right: 1vw;
  }
  .header-nickname-m{
    color: #000;
    font-size: 1vh;
    margin-right: 1vw;
  }
  .user-menu{
    margin: 1vh;
    padding-left: 5vw;
  }
  .user-menu-li {
    color: #FFF;
    background-color: #000;
   font-size: 1vh;
   text-decoration:none; 
   padding: 1vh ;
   border-radius: 10px;
  }
}