.top-page-header {
  width: 100vw;
  display: flex;
}

.title-contents{
  margin:1vh 0 1vh 3vw;
  font-weight: bolder; 
}
.title-contents-image{
  height: 16vh;
  width: 18vw;
}

.header-user{
  margin-left:auto;
  padding: 5vh 5vh 0 0;
}

.header-nickname{
  color: #000;
  margin-left:auto;
  font-size: 3vh;
 text-decoration:none; 
}