<footer class="footer">
  <div class='footer-price'>

    <div class = "footer-left">
    <p class = "footer-left-m">Monthly</p>
    <p class = "footer-left-a">Average</p>
    </div>
    <div class = "footer-light">
    <%= "¥#{@content.sum(:price)}" %>
    </div>
    
  </div>
</footer>