<header class='top-page-header'>
  <div class='title-contents'>
     <%= link_to image_tag("Sabusukulogo.png", class:"title-contents-image") , "/" %>
  </div>

  
   <% if user_signed_in? %>
<div class='header-user'>
  <div class="user-title">
   <%= link_to  "#{current_user.nickname}" ,edit_user_registration_path ,class:"header-nickname" %>
   <%= link_to  "マイページ" ,edit_user_registration_path ,class:"header-mypege" %>
   <p class="header-aisatu">さん</p>

   </div>
 
 </div>
  <% else %>
  <div class='header-user'>
    <p class = "header-nickname-m">こんばんは、ゲストさん</p>
     </div>
  <% end %>
  </div>

</header>