<header class='top-page-header'>
  <div class='title-contents'>
     <%= link_to image_tag("Sabusukulogo.png", class:"title-contents-image") , "/" %>
  </div>
  <div class='header-user'>
   <% if user_signed_in? %>
   <p><%= link_to "こんにちは,#{current_user.nickname}さん", edit_user_registration_path , class:"header-nickname" %></p>
   <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <% else %>
    <p class = "header-nickname">こんばんは、ゲストさん</p>
  <% end %>
  </div>
</header>