@media (min-width: 1025px) {
  .content-img-edit{
    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:50%;
    border: solid 1px #C0C0C0;
  }

  .current-imag{
    margin-top: 1vh;
  }
}


@media  (min-width: 599px) and (max-width: 1024px) {
   .content-img-edit{
    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:50%;
    border: solid 1px #C0C0C0;
  }

  .current-imag{
    margin-top: 1vh;
  }
  
  }

  @media (max-width: 599px) {
    .content-img-edit{
     width:50px;
     height:50px;
     object-fit:cover;
     border-radius:50%;
     margin-left:4vw;
     border: solid 1px #C0C0C0;
   }
 
   .current-imag{
     margin-top: 1vh;
     
   }
   
   }