@media (min-width: 1025px) {
  .content-img-edit{
    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:50%;
    
  }

  .current-imag{
    margin-top: 1vh;
  }
}


@media (max-width: 1024px) {
   .content-img-edit{
    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:50%;
    
  }

  .current-imag{
    margin-top: 1vh;
  }
  
  }

  @media (max-width: 599px) {
    .content-img-edit{
     width:80px;
     height:80px;
     object-fit:cover;
     border-radius:50%;
     
   }
 
   .current-imag{
     margin-top: 1vh;
   }
   
   }