@media (min-width: 1025px) {
body{
  width: 100vw;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.wrap {
	overflow: hidden;
  position: relative;
/*ヘッダーの位置調整*/
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  box-sizing: border-box;
}

/*ログイン済*/
.content-sort th{
  color: #000;
 text-decoration:none; 

}

.login-main-body{
  width: 100vw;
  height: 70%;
}
.login-contents{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.sabusuku-title{
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;  
  margin-bottom: 2vh;
}

.sabusuku-title-name{
  margin-left: 20vw;
  font-size: 60px;
}

.content-new{
  color: #FFF;
  background-color: #000;
 font-size: 3vh;
 text-decoration:none; 
 padding: 2vh ;
 margin-right: 25vw;
 border-radius: 10px;
}
.content-sort{
  width: 25%;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column; 
  justify-content:space-between;
  align-items: center;  
}
.sort-title{
  color: #000;
 font-size: 2vh;
 text-decoration:none; 
 border-bottom:1px solid;
 border-color: #000;

}
.sort-list{
  margin: 3vh 0 1vh 0;
}
a.sorter {
  color: #FFF;
  background-color: #000;
 font-size: 2vh;
 text-decoration:none; 
 padding: 1vh ;
 border-radius: 10px;
}
/*コンテンツ一覧表示*/
.sabusuku-titlename{

}

.content-title{
  width: 100%;
  padding: 2vh 0 0 2vh;
}
.all-list{
  width: 370px;
  height: 250px;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column; 
  justify-content:space-between;
  border:1px solid;
  border-radius: 10px;
  border-color: #000;
}

.image-absolute{
  width: 100%;
  height: 70%;
  
}


.content-img{
  width: 145px;
	height: 145px;
	object-fit:cover;
	border-radius:50%;
  margin: 0 0 20px 150px;
}
.content-name{
  width: 90%;
  
}
.content-price{
  font-weight: 900; 
  font-size: 30px;
  
}
.content-edit{
  text-decoration: none;
  color: #000;
}

/*未ログイン*/
.main-body{
  width: 100vw;
  display: flex;
}
.left-body{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  

}

.left-body-box{
  font-weight: bolder; 
  padding: 0 0 10vw 0;
}

.body-title {
  color: #000;
 font-size: 60px;
 text-decoration:none; 
 padding: 0 0 0 7vw;

 opacity:0;
  animation-name:anime1;
  animation-duration:0.5s; 
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes anime1 {
  0% {
   opacity: 0;
   transform: translateY(30px);
  }
    100%{
      opacity: 1;
       transform: translateY(0);
   } 
  }

.body-title2 {
  color: #000;
  font-size: 60px;
  text-decoration:none; 
  padding: 0 0 0 7vw;
  opacity:0;
  animation-name:anime2;
   animation-duration:0.5s; 
   animation-delay: 1.2s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
 }
 @keyframes anime2 {
   0% {
    opacity: 0;
    transform: translateY(30px);
   }
     100%{
       opacity: 1;
        transform: translateY(0);
    } 
   }

.left-body-image{
 height: 50vh;
 opacity:0;
 animation-name:anime3;
 animation-duration:0.5s; 
 animation-delay: 1.4s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}
 @keyframes anime3 {
  0% {
  opacity: 0;
  transform: translateY(30px);
  }
  100%{
   opacity: 1;
   transform: translateY(0);
  } 
  }

.light-body{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.light-image-top{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: relative;
  padding-right: 10vw;
  margin-bottom: 3vh;
}
.hukidasi-image{
  height: 40vh;
  width: 30vw;
  opacity:0;
  animation-name:anime5;
  animation-duration:0.5s; 
  animation-delay: 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
 @keyframes anime5 {
  0% {
  opacity: 0;
  transform: translateY(0px);
  }
  100%{
   opacity: 1;
   transform: translateY(0);
  } 
  }

/*吹き出しの中*/
.light-image-bottom{
  position: absolute;
  top: 0;
  left: 0;
}
.anime-image{
  height: 8vh;
  width: 3vw;
  padding: 5vh 0 0 14vw;
  opacity:0;
  animation-name:anime7;
  animation-duration:0.5s; 
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
 @keyframes anime7 {
  0% {
  opacity: 0;
  transform: translateY(0px);
  }
  100%{
   opacity: 1;
   transform: translateY(0);
  } 
  }

  .light-image-bottom2{
    position: absolute;
    top: 0;
    left: 0;
    }
  .anime-image2{
    height: 8vh;
    width: 3vw;
    padding: 13vh 0 0 18vw;
    opacity:0;
    animation-name:anime6;
    animation-duration:0.5s; 
    animation-delay: 2.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime6 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }

  .light-image-bottom3{
    position: absolute;
    top: 0;
    left: 0;
    }
  .anime-image3{
    height: 8vh;
    width: 3vw;
    padding: 5vh 0 0 22vw;
  opacity:0;
  animation-name:anime8;
  animation-duration:0.5s; 
  animation-delay: 2.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
 @keyframes anime6 {
  0% {
  opacity: 0;
  transform: translateY(0px);
  }
  100%{
   opacity: 1;
   transform: translateY(0);
  } 
  }

  .light-image-bottom4{
    position: absolute;
    top: 0;
    left: 0;
    }
  .anime-image4{
    height: 8vh;
    width: 3vw;
    padding: 15vh 0 0 25vw;
    opacity:0;
    animation-name:anime8;
    animation-duration:0.5s; 
    animation-delay: 2.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime8 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }

  .light-image-bottom5{
    position: absolute;
    top: 0;
    left: 0;
    }
  .anime-image5{
    height: 8vh;
    width: 3vw;
    padding: 23vh 0 0 19vw;
    opacity:0;
    animation-name:anime9;
    animation-duration:0.5s; 
    animation-delay: 2.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime9 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }

  .light-image-bottom6{
    position: absolute;
    top: 0;
    left: 0;
    }
  .anime-image6{
    height: 8vh;
    width: 3vw;
    padding: 18vh 0 0 13vw;
    opacity:0;
    animation-name:anime10;
    animation-duration:0.5s; 
    animation-delay: 2.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime10 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }

  .light-image-bottom7{
    position: absolute;
    top: 0;
    left: 0;
    }
  .anime-image7{
    height: 8vh;
    width: 3vw;
    padding: 10vh 0 0 10vw;
    opacity:0;
    animation-name:anime11;
    animation-duration:0.5s; 
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime11 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
.netosa-image{
  height: 8vh;
  width: 3vw;
  opacity:0;
  animation-name:anime4;
  animation-duration:0.5s; 
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
 @keyframes anime4 {
  0% {
  opacity: 0;
  transform: translateY(0px);
  }
  100%{
   opacity: 1;
   transform: translateY(0);
  } 
  }


.body-lists{
  padding: 3vh 4vw;
  margin: 0 7vw 30vh 0;
  border:1px solid;
  border-width:thick; 
  border-radius: 10px;
  border-color: #000;
  text-align: center;
  opacity:0;
  animation-name:anime12;
  animation-duration:0.5s; 
  animation-delay: 3.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.let-start{
  font-size: 30px;
}
 @keyframes anime12 {
  0% {
  opacity: 0;
  transform: translateY(0px);
  }
  100%{
   opacity: 1;
   transform: translateY(0);
  } 
  }

.new-buttons{
  display: flex;
  justify-content:space-between;
  align-items: center; 
  margin-top: 5vh;
}


.usernew-list{
  margin-top: 5vh;
  
}
.new-link {
  color: #FFF;
  background-color: #000;
 font-size: 20px;
 text-decoration:none; 
 padding: 2vh 3vw 2vh 3vw;
 border-radius: 10px;
 
}
}

//タブレット表示

@media (min-width: 599px) and (max-width: 1024px) {
  body{
    width: 100vw;
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
  }
  
  .wrap {
    overflow: hidden;
    position: relative;
  /*ヘッダーの位置調整*/
    min-height: 100vh;
    position: relative;
    padding-bottom: 18vh;
    box-sizing: border-box;
  }
  
  /*ログイン済*/
  .content-sort th{
    color: #000;
   text-decoration:none; 
  
  }
  
  .login-main-body{
    width: 100vw;
    height: 70%;
  }
  .login-contents{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .sabusuku-title{
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: center;  
    margin-bottom: 2vh;
  }
  
  .sabusuku-title-name{
    margin-left: 15vw;
    font-size: 40px;
  }
  
  .content-new{
    color: #FFF;
    background-color: #000;
   font-size: 2vh;
   text-decoration:none; 
   padding: 2vh ;
   margin-right: 20vw;
   border-radius: 10px;
  }
  .content-sort{
    width: 25%;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column; 
    justify-content:space-between;
    align-items: center;  
  }
  .sort-title{
    color: #000;
   font-size: 2vh;
   text-decoration:none; 
   border-bottom:1px solid;
   border-color: #000;
  
  }
  .sort-list{
    margin: 3vh 0 1vh 0;
  }
  a.sorter {
    color: #FFF;
    background-color: #000;
   font-size: 1vh;
   text-decoration:none; 
   padding: 1vh ;
   border-radius: 10px;
  }
  /*コンテンツ一覧表示*/
 
  
  .content-title{
    width: 100%;
    padding: 2vh 0 0 2vh;
  }
  .all-list{
    width: 360px;
    height: 250px;
    display: flex;
    margin-bottom: 1vh;
    flex-direction: column; 
    justify-content:space-between;
    border:1px solid;
    border-radius: 10px;
    border-color: #000;
  }
  
  .image-absolute{
    width: 100%;
    height: 70%;
    
  }
  
  
  .content-img{
    width: 155px;
	height: 150px;
    object-fit:cover;
    border-radius:50%;
    margin: 10px 0 0 135px;
  }
  .content-name{
    width: 90%;
  }
  .content-price{
    font-weight: 900; 
    font-size: 28px;
  }
  .content-edit{
    text-decoration: none;
    color: #000;
  }
  
  /*未ログイン*/
  .main-body{
    width: 100vw;
    display: flex;
  }
  .left-body{
    width: 50%;
  
  }
  .left-body-box{
    font-weight: bolder; 
    padding-top: 5vh;
  }
  
  .body-title {
    color: #000;
   font-size: 5vw;
   text-decoration:none; 
   padding-left: 7vw;
  
   opacity:0;
    animation-name:anime1;
    animation-duration:0.5s; 
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes anime1 {
    0% {
     opacity: 0;
     transform: translateY(30px);
    }
      100%{
        opacity: 1;
         transform: translateY(0);
     } 
    }
  
  .body-title2 {
    color: #000;
    padding-left: 7vw;
    font-size: 5vw;
    text-decoration:none; 
    opacity:0;
    animation-name:anime2;
     animation-duration:0.5s; 
     animation-delay: 1.2s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
   }
   @keyframes anime2 {
     0% {
      opacity: 0;
      transform: translateY(30px);
     }
       100%{
         opacity: 1;
          transform: translateY(0);
      } 
     }
  
  .left-body-image{
   height: 30vh;
   width: 50vw;
   padding-top: 5vh;
   opacity:0;
   animation-name:anime3;
   animation-duration:0.5s; 
   animation-delay: 1.4s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
  }
   @keyframes anime3 {
    0% {
    opacity: 0;
    transform: translateY(30px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
   
  .light-body{
    width: 50%;
    display: flex;
    flex-direction: column; 
  }
  
  .light-image-top{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    margin:0  3vh 3vh 0;
  }
  .hukidasi-image{
    height: 31vh;
    width: 45vw;
    opacity:0;
    animation-name:anime5;
    animation-duration:0.5s; 
    animation-delay: 2.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime5 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
  /*吹き出しの中*/
  .light-image-bottom{
    position: absolute;
    top: 0;
    left: 0;
  }
  .anime-image{
    height: 4vh;
    width: 6vw;
    padding: 5vh 0 0 15vw;
    opacity:0;
    animation-name:anime7;
    animation-duration:0.5s; 
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime7 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
    .light-image-bottom2{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image2{
      height: 4vh;
    width: 6vw;
      padding: 11vh 0 0 21vw;
      opacity:0;
      animation-name:anime6;
      animation-duration:0.5s; 
      animation-delay: 2.4s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime6 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  
    .light-image-bottom3{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image3{
      height: 4vh;
    width: 6vw;
      padding: 5vh 0 0 30vw;
    opacity:0;
    animation-name:anime8;
    animation-duration:0.5s; 
    animation-delay: 2.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime6 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
    .light-image-bottom4{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image4{
      height: 4vh;
      width: 6vw;
      padding: 16vh 0 0 26vw;
      opacity:0;
      animation-name:anime8;
      animation-duration:0.5s; 
      animation-delay: 2.7s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime8 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  
    .light-image-bottom5{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image5{
      height: 4vh;
      width: 6vw;
      padding: 10vh 0 0 32vw;
      opacity:0;
      animation-name:anime9;
      animation-duration:0.5s; 
      animation-delay: 2.8s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime9 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  
    .light-image-bottom6{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image6{
      height: 4vh;
    width: 6vw;
      padding: 15vh 0 0 13vw;
      opacity:0;
      animation-name:anime10;
      animation-duration:0.5s; 
      animation-delay: 2.9s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime10 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  
    .light-image-bottom7{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image7{
      height: 4vh;
      width: 6vw;
      padding: 10vh 0 0 8vw;
      opacity:0;
      animation-name:anime11;
      animation-duration:0.5s; 
      animation-delay: 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime11 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  .netosa-image{
    height: 4vh;
    width: 6vw;
    opacity:0;
    animation-name:anime4;
    animation-duration:0.5s; 
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime4 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
  
  .body-lists{
    padding: 2vh 3vw;
    margin: 0 5vw 0 0;
    border:1px solid;
    border-width:thick; 
    border-radius: 10px;
    border-color: #000;
    text-align: center;
    opacity:0;
    animation-name:anime12;
    animation-duration:0.5s; 
    animation-delay: 3.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .let-start{
    font-size: 3vw;
  }
   @keyframes anime12 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
  .new-buttons{
    display: flex;
    justify-content:center;
    align-items: center; 
    margin-top: 5vh;
  }
  
  
  
  .new-link {
    color: #FFF;
    background-color: #000;
   font-size: 2vw;
   text-decoration:none; 
   padding: 2vh 3vw 2vh 3vw;
   margin-left: 1vw;
   border-radius: 10px;
  }
}

//スマホ表示

@media (max-width: 599px) {
  body{
    width: 100vw;
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
  }
  
  .wrap {
    overflow: hidden;
    position: relative;
  /*ヘッダーの位置調整*/
    min-height: 100vh;
    position: relative;
    padding-bottom: 23vh;
    box-sizing: border-box;
  }
  
  /*ログイン済*/
  .content-sort th{
    color: #000;
   text-decoration:none; 
  
  }
  
  .login-main-body{
    width: 100vw;
    height: 70%;
  }
  .login-contents{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .sabusuku-title{
    width: 100vw;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 4vw;
  }
  
  .sabusuku-title-name{
    font-size: 10vw;
    margin-bottom: 3vh;
  }
  
  .content-new{
    color: #FFF;
    background-color: #000;
   font-size: 3vw;
   text-decoration:none; 
   border-radius: 10px;
   padding: 2vh ;
  }
  .content-sort{
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column; 
    justify-content:space-between;
    align-items: center;  
  }
  .sort-title{
    color: #000;
   font-size: 2vh;
   text-decoration:none; 
   border-bottom:1px solid;
   border-color: #000;
  
  }
  .sort-list{
    margin: 3vh 0 1vh 0;
    display: flex;
    
  }
  a.sorter {
    color: #FFF;
    background-color: #000;
   font-size: 1vh;
   text-decoration:none; 
   padding: 1vh ;
   border-radius: 10px;
   margin-right: 1vw;
  }
  /*コンテンツ一覧表示*/
  
  .content-title{
    width: 100%;
    padding: 2vh 0 0 2vh;
  }
  .all-list{
    width: 240px;
    height: 200px;
    margin-top: 1vh;
    display: flex;
    flex-direction: column; 
    justify-content:space-between;
    border:1px solid;
    border-radius: 10px;
    border-color: #000;
  }
  
  .image-absolute{
    width: 100%;
    height: 75%;
    
  }
  
  .content-img{
    width: 90px;
    height: 90px;
    object-fit:cover;
    border-radius:50%;
    margin: 25px 0 0 100px;
  }
  .content-name{
    width: 90%;
    font-size: 10px;
  }
  .content-price{
    font-weight: 900; 
    font-size: 25px;
  }
  .content-edit{
    text-decoration: none;
    color: #000;
  }
  
  /*未ログイン*/
  .main-body{
    width: 100vw;
   
  }
  .left-body{
    display: flex;
  }
  .left-body-box{
    font-weight: bolder; 
    margin:0 auto;
  }
  
  .body-title {
    color: #000;
   font-size: 10vw;
   text-decoration:none; 
   padding-left: 7vw;
  
   opacity:0;
    animation-name:anime1;
    animation-duration:0.5s; 
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes anime1 {
    0% {
     opacity: 0;
     transform: translateY(30px);
    }
      100%{
        opacity: 1;
         transform: translateY(0);
     } 
    }
  
  .body-title2 {
    color: #000;
    padding-left: 7vw;
    font-size: 10vw;
    text-decoration:none; 
    opacity:0;
    animation-name:anime2;
     animation-duration:0.5s; 
     animation-delay: 1.2s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
   }
   @keyframes anime2 {
     0% {
      opacity: 0;
      transform: translateY(30px);
     }
       100%{
         opacity: 1;
          transform: translateY(0);
      } 
     }
  
  .left-body-image{
   display: none;
    }
  
   
  .light-body{
   
  }
  
  .light-image-top{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    margin-bottom: 3vh;
  }
  .hukidasi-image{
    height: 27vh;
    width: 65vw;
    opacity:0;
    animation-name:anime5;
    animation-duration:0.5s; 
    animation-delay: 2.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime5 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
  /*吹き出しの中*/
  .light-image-bottom{
    position: absolute;
    top: 0;
    left: 0;
  }
  .anime-image{
    height: 4vh;
    width: 6vw;
    padding: 5vh 0 0 37vw;
    opacity:0;
    animation-name:anime7;
    animation-duration:0.5s; 
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime7 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
    .light-image-bottom2{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image2{
      height: 4vh;
    width: 6vw;
      padding: 9vh 0 0 47vw;
      opacity:0;
      animation-name:anime6;
      animation-duration:0.5s; 
      animation-delay: 2.4s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime6 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  
    .light-image-bottom3{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image3{
      height: 4vh;
    width: 6vw;
      padding: 5vh 0 0 58vw;
    opacity:0;
    animation-name:anime8;
    animation-duration:0.5s; 
    animation-delay: 2.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime6 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
    .light-image-bottom4{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image4{
      height: 4vh;
      width: 6vw;
      padding: 10vh 0 0 62vw;
      opacity:0;
      animation-name:anime8;
      animation-duration:0.5s; 
      animation-delay: 2.7s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime8 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  
    .light-image-bottom5{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image5{
      height: 4vh;
      width: 6vw;
      padding: 15vh 0 0 49vw;
      opacity:0;
      animation-name:anime9;
      animation-duration:0.5s; 
      animation-delay: 2.8s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime9 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  
    .light-image-bottom6{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image6{
      height: 4vh;
    width: 6vw;
      padding: 12vh 0 0 35vw;
      opacity:0;
      animation-name:anime10;
      animation-duration:0.5s; 
      animation-delay: 2.9s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime10 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  
    .light-image-bottom7{
      position: absolute;
      top: 0;
      left: 0;
      }
    .anime-image7{
      height: 4vh;
      width: 6vw;
      padding: 9vh 0 0 26vw;
      opacity:0;
      animation-name:anime11;
      animation-duration:0.5s; 
      animation-delay: 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
     @keyframes anime11 {
      0% {
      opacity: 0;
      transform: translateY(0px);
      }
      100%{
       opacity: 1;
       transform: translateY(0);
      } 
      }
  .netosa-image{
    height: 4vh;
    width: 6vw;
    opacity:0;
    animation-name:anime4;
    animation-duration:0.5s; 
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   @keyframes anime4 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
  
  .body-lists{
    padding: 2vh 3vw;
    margin:0 auto;
    width: 70%;
    border:1px solid;
    border-width:thick; 
    border-radius: 10px;
    border-color: #000;
    text-align: center;
    opacity:0;
    animation-name:anime12;
    animation-duration:0.5s; 
    animation-delay: 3.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .let-start{
    font-size: 5vw;
  }
   @keyframes anime12 {
    0% {
    opacity: 0;
    transform: translateY(0px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    } 
    }
  
  .new-buttons{
    display: flex;
    justify-content:center;
    align-items: center; 
    margin: 5vh 0 3vh 0;
  }
  
  
  
  .new-link {
    color: #FFF;
    background-color: #000;
   font-size: 4vw;
   text-decoration:none; 
   padding: 2vh 3vw 2vh 3vw;
   margin: 0 2vw;
   border-radius: 10px;
  }
}