body{
  width: 100vw;
}

.wrap {
	overflow: hidden;
}

.main-body{
  width: 100vw;
  display: flex;
}
.left-body{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
}
.left-body-box{
  font-weight: bolder; 
  padding: 0 0 15vh 10vw;
}

.body-title {
  color: #000;
 font-size: 7vh;
 text-decoration:none; 
 padding: 0 0 0 5vw;
}

.light-body{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin-top: 12vh;
}
.body-lists{
  padding: 5vh 5vw;
  margin: 0 10vw 20vh 0;
  border:1px solid;
  border-width:thick; 
  border-radius: 10px;
  border-color: #000;
  text-align: center;
}


.body-image{
  height: 50vh;
}
.list{
  margin-top: 5vh;
  
}
.body-link {
  color: #FFF;
  background-color: #000;
 font-size: 5vh;
 text-decoration:none; 
 padding: 2vh 5vw 2vh 5vw;
 border-radius: 10px;
 
}

/*ログイン後*/
.login-main-body{
  width: 100vw;
}
.login-contents{
  
}
.sabusuku-title-name{
  margin-left: 10vw;
  font-size: 60px;
}
.sabusuku-title{
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;  
  margin-bottom: 2vh;
}
.login-button{
  padding: 0 5vw;
  margin: 0 0 3vh 0;
  text-align: center;
}
/*コンテンツ一覧表示*/
.sabusuku-titlename{

}
.content-new{
  color: #FFF;
  background-color: #000;
 font-size: 3vh;
 text-decoration:none; 
 padding: 2vh ;
 margin-right: 15vw;
 border-radius: 10px;
}

.content-lists{
  margin:0 auto;
}
.all-list{
  width: 50vw;
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 3px 0 ;

  border:1px solid;
  border-width:thick; 
  border-radius: 10px;
  border-color: #000;
}
.content-img{
  width:50px;
	height:50px;
	object-fit:cover;
	border-radius:50%;
  margin-left: 3vw;
}
.content-name{
  width: 30vw;
  font-weight: 900; 
  font-size: 20px;
  text-align: center;
}
.content-edit{
  margin-right: 3vw;
  height: 5vh;
}