body{
  width: 100vw;
}

.wrap {
	overflow: hidden;
}

.main-body{
  width: 100vw;
  display: flex;
}
.left-body{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
}
.left-body-box{
  font-weight: bolder; 
  padding: 0 0 15vh 10vw;
}
.body-title {
  color: #000;
 font-size: 7vh;
 text-decoration:none; 
 padding: 0 0 0 5vw;
}

.light-body{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
.body-lists{
  padding: 5vh 5vw;
  margin: 0 10vw 20vh 0;
  border:1px solid;
  border-width:thick; 
  border-radius: 10px;
  border-color: #000;
  text-align: center;
}
.body-image{
  height: 50vh;
}
.list{
  margin-top: 5vh;
  
}
.body-link {
  color: #FFF;
  background-color: #000;
 font-size: 5vh;
 text-decoration:none; 
 padding: 2vh 5vw 2vh 5vw;
 border-radius: 10px;
 
}