@media (min-width: 1025px) {
html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
}

.form-wrap{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 

}

.views-title{
  color: #000;
  font-weight: bolder; 
  font-size: 40px;
  text-align: center;
}

.form-box{
  display: flex;
  justify-content: center; 
  align-items: center; 
 }
 .form-box-c{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.newicon-image{
  height: 5vh;

}
.form-group{
  color: #000;
  margin: 2vh;
}
.input-default{
  width: 80vh;
  height: 3vw;
  border-width:thick; 
  border-radius: 10px;
  border-color: #000;
}
.submit-botan{
  background-color: #fff;
padding: 1vh 2vw;
  border-width:thick; 
  border-radius: 10px;
  border-color: #000;
  font-weight: bolder; 
}

/*入力確認*/
.confirm{
 
}
.user-check{
  font-size: 20px;
  text-align: center;
  font-weight: bolder; 
}
.confirmform-wrap{

  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.chack-box{
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.confirm.form-box{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border:1px solid;
 }
 .submit-box{
   padding-top: 5vh;
 }

 .check-letter{
  font-weight: 900;
  text-align: center
 }
 /*入力確認の枠*/
 .box17-name{
   width: 20%;
 }
 .box17{
  width: 50%;
  text-align: center;
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}
/*入力確認の枠*/

/*完了画面*/
.complete-box{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 

}

.complete-lists{
  text-align: center;
  border-width:thick; 
  border-radius: 10px;
  
}
.conp-list{
  margin-top: 5vh;
}

.comp-link {
  color: #FFF;
  background-color: #000;
 font-size: 5vh;
 text-decoration:none; 
 border-radius: 10px;
 padding: 10px;
}
/*ログイン*/
.loguin-actions{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin-top: 3vh;
}

.field{
  margin:0 auto;
}
.loguin-botan{
  background-color: #fff;
  width: 12vh;
  height: 3vw;
  margin-top: 1vh;
  border-width:thick; 
  border-radius: 10px;
  border-color: #000;
  font-weight: bolder; 
}

.devise-botan{
  background-color: #fff;
  color: #000;
  padding: 1vh ;
  margin: 5vh 1vw 0 0;
  font-weight: bolder; 
  border:1px solid #000;
  border-radius: 10px;
  text-decoration:none; 
  text-align: center;
}
.devise-botan2{
  background-color: #fff;
  color: #000;
 
  padding: 1vh ;
  margin-top: 5vh ;
  font-weight: bolder; 
  border:1px solid #000;
  border-radius: 10px;
  text-decoration:none; 
  text-align: center;
}
.loguin-return{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 1vh;
}
/*削除*/

.edit-dellet{
  
  border:1px solid #000;
  border-width:thick; 
  border-radius: 10px;
  margin: 10vh 0 0 0;
  padding: 1vh;
}

.user-delete-botan{
  background-color: #fff;
  color: #000;
  font-weight: bolder; 
  text-decoration:none; 
}
}


@media (min-width: 599px) and (max-width: 1024px) {
  html {
    height: 100vh;
  }
  
  body {
    height: 100vh;
    margin: 0;
  }
  
  .form-wrap{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  
  }
  
  .views-title{
    color: #000;
    font-weight: bolder; 
    font-size: 40px;
    text-align: center;
  }
  
  .form-box{
    display: flex;
    justify-content: center; 
    align-items: center; 
   }
   .form-box-c{
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .newicon-image{
    height: 5vh;
  
  }
  .form-group{
    color: #000;
    margin: 2vh;
  }
  .input-default{
    width: 50vw;
    height: 3vw;
    border-width:thick; 
    border-radius: 10px;
    border-color: #000;
  }
  .submit-botan{
    padding: 1vh;
    background-color: #fff;
    border-width:thick; 
    border-radius: 10px;
    border-color: #000;
    font-weight: bolder; 
  }
  
  /*入力確認*/
  .confirm{
   
  }
  .user-check{
    font-size: 20px;
    text-align: center;
    font-weight: bolder; 
  }
  .confirmform-wrap{
  
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .chack-box{
    width: 70%;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .confirm.form-box{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border:1px solid;
   }
   .submit-box{
     padding-top: 5vh;
   }
  
   .check-letter{
    font-weight: 900;
    font-size: 2vw;
    text-align: center

   }
   /*入力確認の枠*/
   
   .box17-name{
   width: 20%;
  }
  .box17{
   width: 60%;
   text-align: center;
      margin:2em 0;
      position: relative;
      padding: 0.5em 1.5em;
      border-top: solid 2px black;
      border-bottom: solid 2px black;
  }
  .box17:before, .box17:after{
      content: '';
      position: absolute;
      top: -10px;
      width: 2px;
      height: -webkit-calc(100% + 20px);
      height: calc(100% + 20px);
      background-color: black;
  }
  .box17:before {left: 10px;}
  .box17:after {right: 10px;}
  .box17 p {
      margin: 0; 
      padding: 0;
  }
  /*入力確認の枠*/
  
  /*完了画面*/
  .complete-box{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  
  }
  
  .complete-lists{
    text-align: center;
    border-width:thick; 
    border-radius: 10px;
    
  }
  .conp-list{
    margin-top: 5vh;
  }
  
  .comp-link {
    color: #FFF;
    background-color: #000;
   font-size: 5vh;
   text-decoration:none; 
   border-radius: 10px;
   padding: 10px;
  }
  /*ログイン*/
  .loguin-actions{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 3vh;
  }
  
  .field{
    margin:0 auto;
  }
  .loguin-botan{
    background-color: #fff;
    padding: 1vh ;
    border-width:thick; 
    border-radius: 10px;
    border-color: #000;
    font-weight: bolder; 
  }
  
  .devise-botan{
    background-color: #fff;
    color: #000;
    padding: 1vh ;
    margin: 5vh 1vw 0 0;
    font-size: 17px;
    font-weight: bolder; 
    border:1px solid #000;
    border-radius: 10px;
    text-decoration:none; 
    text-align: center;
  }
  .devise-botan2{
    background-color: #fff;
    color: #000;
    
    padding: 1vh ;
    margin-top: 5vh ;
    font-weight: bolder; 
    border:1px solid #000;
    border-radius: 10px;
    text-decoration:none; 
    text-align: center;
  }
  .loguin-return{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 1vh;
  }
  /*削除*/
  
  .edit-dellet{
    border:1px solid #000;
    border-width:thick; 
    border-radius: 10px;
    margin: 5vh 0 0 0;
    padding: 1vw;
  }
  
  .user-delete-botan{
    background-color: #fff;
    color: #000;
    font-weight: bolder; 
    text-decoration:none; 
    
  }
}

@media (max-width: 599px)  {
  html {
    height: 100vh;
  }
  
  body {
    height: 100vh;
    margin: 0;
  }
  
  .form-wrap{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .views-title{
    color: #000;
    font-weight: bolder; 
    font-size: 7vw;
    text-align: center;
  }
  
  .new_user{
    margin-top: 5vh;
  }
  .form-box{
    display: flex;
    justify-content: center; 
    align-items: center;
    
   }
   .form-box-c{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 68%;
   }
  .newicon-image{
    height: 5vh;
  
  }
  .form-group{
    color: #000;
    margin: 2vh;
  }
  .input-default{
    width: 50vw;
    height: 5vw;
    border-width:thick; 
    border-radius: 10px;
    border-color: #000;
  }
  .submit-botan{
    padding: 1vh;
    background-color: #fff;
    border-width:thick; 
    border-radius: 10px;
    border-color: #000;
    font-weight: bolder; 
  }
  .form-text-c{
    font-size: 4vw;
  }
  /*入力確認*/
  .confirm{
   
  }
  .user-check{
    font-size: 20px;
    text-align: center;
    font-weight: bolder; 
  }
  .confirmform-wrap{
  
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .chack-box{
    width: 80%;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .confirm.form-box{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border:1px solid;
   }
   .submit-box{
     padding-top: 5vh;
   }
  
   .check-letter{
    font-weight: 700;
    text-align: center;
    font-size: 4vw;
   }
   /*入力確認の枠*/
   .box17-name{
    width: 30%;
    font-size: 3vw;
  }
  .box17{
   text-align: center;
      margin:2em 0;
      position: relative;
      padding: 0.5em 1.5em;
      border-top: solid 2px black;
      border-bottom: solid 2px black;
  }
  .box17:before, .box17:after{
      content: '';
      position: absolute;
      top: -10px;
      width: 2px;
      height: -webkit-calc(100% + 20px);
      height: calc(100% + 20px);
      background-color: black;
  }
  .box17:before {left: 10px;}
  .box17:after {right: 10px;}
  .box17 p {
      margin: 0; 
      padding: 0;
  }
  /*入力確認の枠*/
  
  /*完了画面*/
  .complete-box{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  
  }
  
  .complete-lists{
    text-align: center;
    border-width:thick; 
    border-radius: 10px;
    
  }
  .conp-list{
    margin-top: 5vh;
  }
  
  .comp-link {
    color: #FFF;
    background-color: #000;
   font-size: 5vh;
   text-decoration:none; 
   border-radius: 10px;
   padding: 10px;
  }
  /*ログイン*/
  .loguin-actions{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 3vh;
  }
  
  .field{
    margin:0 auto;
  }
  .loguin-botan{
    background-color: #fff;
    padding: 1vh ;
    border-width:thick; 
    border-radius: 10px;
    border-color: #000;
    font-weight: bolder; 
  }
  
  .devise-botan{
    background-color: #fff;
    color: #000;
    padding: 1vh ;
    margin: 5vh 1vw 0 0;
    font-size: 17px;
    font-weight: bolder; 
    border:1px solid #000;
    border-radius: 10px;
    text-decoration:none; 
    text-align: center;
    
  }
  .devise-botan2{
    background-color: #fff;
    color: #000;
    
    padding: 1vh ;
    margin-top: 5vh ;
    font-weight: bolder; 
    border:1px solid #000;
    border-radius: 10px;
    text-decoration:none; 
    text-align: center;
  }
  .loguin-return{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 1vh;
  }
  /*削除*/
  
  .edit-dellet{
    border:1px solid #000;
    border-width:thick; 
    border-radius: 10px;
    margin: 5vh 0 0 0;
    padding: 1vw;
  }
  
  .user-delete-botan{
    background-color: #fff;
    color: #000;
    font-weight: bolder; 
    text-decoration:none; 
    
  }
}